@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@layer components {
  .test {
    @apply border border-red-600;
  }
}

.chat_container_h {
  height: calc(100vh - 160px);
}
